# De esta forma hay que inyectar datos, con los dfFinal se van inyectando datos por hora o por franja, simulando la inyección o el calculo de datos.

In [1]:
import numpy as np
import seaborn as sb
import pandas as pd
import matplotlib.pyplot as plt
from fbprophet import Prophet
from prophet.serialize import model_to_json, model_from_json
import pickle
from datetime import datetime, timedelta

# Read - df_Final de cada modelo horario

In [2]:
dfFinal0_5 = pd.read_csv("/home/jonathan/tesis/10mo_avance/Produccion/df_Final_Lun0_5.csv", sep=',',index_col=0, parse_dates=True)
dfFinal6_11 = pd.read_csv("/home/jonathan/tesis/10mo_avance/Produccion/df_Final_Lun6_11.csv", sep=',',index_col=0, parse_dates=True)
dfFinal12_17 = pd.read_csv("/home/jonathan/tesis/10mo_avance/Produccion/df_Final_Lun12_17.csv", sep=',',index_col=0, parse_dates=True)
dfFinal18_23 = pd.read_csv("/home/jonathan/tesis/10mo_avance/Produccion/df_Final_Lun18_23.csv", sep=',',index_col=0, parse_dates=True)

dfFinal0_5 = dfFinal0_5.reset_index()
dfFinal6_11 = dfFinal6_11.reset_index()
dfFinal12_17 = dfFinal12_17.reset_index()
dfFinal18_23 = dfFinal18_23.reset_index()

In [3]:
dfFinal0_5

                     ds        y  Lunes0_5  t-168Mod  Accup
0   2020-06-21 00:00:00  238.411     False     0.000  False
1   2020-06-21 01:00:00  154.667     False     0.000  False
2   2020-06-21 02:00:00  114.107     False     0.000  False
3   2020-06-21 03:00:00   64.097     False     0.000   True
4   2020-06-21 04:00:00   96.555     False     0.000  False
..                  ...      ...       ...       ...    ...
865 2020-07-27 01:00:00   87.409      True   104.195   True
866 2020-07-27 02:00:00   34.927      True    35.480  False
867 2020-07-27 03:00:00   51.783      True    52.627  False
868 2020-07-27 04:00:00   47.236      True    64.707  False
869 2020-07-27 05:00:00   87.062      True   124.955   True

[870 rows x 5 columns]

In [4]:
print(dfFinal0_5.dtypes)

ds          datetime64[ns]
y                  float64
Lunes0_5              bool
t-168Mod           float64
Accup                 bool
dtype: object

## Creamos funciones para inyectar datos al dataframe future

In [5]:
###############################Lunes0_5#######################################
def est_Lunes0_5(ds):
    global fila    
    global valor 
    date = pd.to_datetime(ds)
    if (date.dayofweek == 0 and date.hour == 0) or (date.dayofweek == 0 and date.hour == 1) or (date.dayofweek == 0 and date.hour == 2) or (date.dayofweek == 0 and date.hour == 3) or (date.dayofweek == 0 and date.hour == 4) or (date.dayofweek == 0 and date.hour == 5):        
        valor = True        
        fila += 1
    else:
        valor = False        
        fila += 1
    return (valor)
def Regressor0_5_FutureAccUp(ds):
    global fila       
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal0_5.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal0_5.loc[fila]
        valor = valor['Accup']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)
def Regressor0_5_LunesBack(ds):
    global fila        
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal0_5.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal0_5.loc[fila]
        valor = valor['t-168Mod']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)

#################################Lunes6_11#####################################
def est_Lunes6_11(ds):
    global fila    
    global valor 
    date = pd.to_datetime(ds)
    if (date.dayofweek == 0 and date.hour == 6) or (date.dayofweek == 0 and date.hour == 7) or (date.dayofweek == 0 and date.hour == 8) or (date.dayofweek == 0 and date.hour == 9) or (date.dayofweek == 0 and date.hour == 10) or (date.dayofweek == 0 and date.hour == 11):        
        valor = True        
        fila += 1
    else:
        valor = False        
        fila += 1
    return (valor)
def Regressor6_11_FutureAccUp(ds):
    global fila       
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal6_11.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal6_11.loc[fila]
        valor = valor['Accup']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)
def Regressor6_11_LunesBack(ds):
    global fila        
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal6_11.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal6_11.loc[fila]
        valor = valor['t-168Mod']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)

##################################Lunes12_17####################################
def est_Lunes12_17(ds):
    global fila    
    global valor 
    date = pd.to_datetime(ds)
    if (date.dayofweek == 0 and date.hour == 12) or (date.dayofweek == 0 and date.hour == 13) or (date.dayofweek == 0 and date.hour == 14) or (date.dayofweek == 0 and date.hour == 15) or (date.dayofweek == 0 and date.hour == 16) or (date.dayofweek == 0 and date.hour == 17):        
        valor = True        
        fila += 1
    else:
        valor = False        
        fila += 1
    return (valor)
def Regressor12_17_FutureAccUp(ds):
    global fila       
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal12_17.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal12_17.loc[fila]
        valor = valor['Accup']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)
def Regressor12_17_LunesBack(ds):
    global fila        
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal12_17.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal12_17.loc[fila]
        valor = valor['t-168Mod']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)

####################################Lunes18_23##################################
def Regressor18_23_FutureAccUp(ds):
    global fila       
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal18_23.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal18_23.loc[fila]
        valor = valor['Accup']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)
def Regressor18_23_LunesBack(ds):
    global fila        
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal18_23.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal18_23.loc[fila]
        valor = valor['t-168Mod']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)

####################################################################################
def Add_y(ds):
    global fila        
    global valor    
    date = pd.to_datetime(ds)
    fechafuture = dfFinal18_23.ds.loc[fila]
    if (date.month == fechafuture.month) and (date.day == fechafuture.day) and (date.year == fechafuture.year) and (date.hour == fechafuture.hour):
        valor = dfFinal18_23.loc[fila]
        valor = valor['y']
        fila += 1
    else:        
        valor = 0              
        fila += 1    
    return (valor)

In [6]:
def warm_start_params(m):
    """
    Retrieve parameters from a trained model in the format used to initialize a new Stan model.
    Note that the new Stan model must have these same settings:
        n_changepoints, seasonality features, mcmc sampling
    for the retrieved parameters to be valid for the new model.

    Parameters
    ----------
    m: A trained model of the Prophet class.

    Returns
    -------
    A Dictionary containing retrieved parameters of m.
    """
    res = {}
    for pname in ['k', 'm', 'sigma_obs']:
        if m.mcmc_samples == 0:
            res[pname] = m.params[pname][0][0]
        else:
            res[pname] = np.mean(m.params[pname])
    for pname in ['delta', 'beta']:
        if m.mcmc_samples == 0:
            res[pname] = m.params[pname][0]
        else:
            res[pname] = np.mean(m.params[pname], axis=0)
    return res

In [7]:
def start_model(future):
    global start
    global start2
    global start3
    global start4
    global fila
    global m 
    if end_date.hour in [0, 1, 2, 3, 4, 5]:                   
        future['Lunes0_5'] = future['ds'].apply(est_Lunes0_5)                   
        fila = 0    
        future['Accup'] = future['ds'].apply(Regressor0_5_FutureAccUp)                
        fila = 0    
        future['t-168Mod'] = future['ds'].apply(Regressor0_5_LunesBack)                   

        if start == False:
            # Load model
            with open('/home/jonathan/tesis/10mo_avance/models/serialized_model_Lunes0_5.json', 'r') as fin:                
                m = model_from_json(fin.read())  
            start = True
        else:
            df = future.iloc[:-1].copy()
            fila = 0            
            df['y'] = df['ds'].apply(Add_y)
            m2 = Prophet(changepoint_range=0.85,seasonality_prior_scale=0.3,weekly_seasonality=False,daily_seasonality=False,
                    seasonality_mode='additive',changepoint_prior_scale=1.7)        
            m2.add_seasonality(name='Weekly', period=7, fourier_order=2,prior_scale=0.8)         
            m2.add_seasonality(name='Daily', period=1, fourier_order=4,prior_scale=0.0064)         
            m2.add_seasonality(name='Lunes0_5', period=1/4, fourier_order=6, condition_name='Lunes0_5',prior_scale=0.005)                 
            m2.add_regressor('t-168Mod',mode='additive',prior_scale=0.5)                   
            m2.add_regressor('Accup',mode='additive',prior_scale=0.05)
            m = m2.fit(df, init=warm_start_params(m))

    elif end_date.hour in [6, 7, 8, 9, 10, 11]:
        fila = 0      
        future['Lunes6_11'] = future['ds'].apply(est_Lunes6_11)                   
        fila = 0    
        future['Accup'] = future['ds'].apply(Regressor6_11_FutureAccUp)                
        fila = 0    
        future['t-168Mod'] = future['ds'].apply(Regressor6_11_LunesBack)                

        if start2 == False:
            # Load model
            with open('/home/jonathan/tesis/10mo_avance/models/serialized_model_Lunes6_11.json', 'r') as fin:                
                m = model_from_json(fin.read())  
            start2 = True
        else:
            df = future.iloc[:-1].copy()
            fila = 0
            df['y'] = df['ds'].apply(Add_y)   
            m2 = Prophet(changepoint_range=0.8,seasonality_prior_scale=0.3,weekly_seasonality=False,daily_seasonality=False,
                    seasonality_mode='additive',changepoint_prior_scale=1)   #mcmc_samples=100  Si mejora la predicción->,n_changepoints=100   
            m2.add_seasonality(name='Lunes6_11', period=1/4, fourier_order=6, condition_name='Lunes6_11',prior_scale=0.05)                          
            m2.add_seasonality(name='Weekly', period=7, fourier_order=2,prior_scale=0.1)         
            m2.add_seasonality(name='Daily', period=1, fourier_order=4,prior_scale=0.1)         
            m2.add_regressor('Accup',mode='additive',prior_scale=1,standardize=False)                   
            m2.add_regressor('t-168Mod',mode='additive',prior_scale=1) 
            m = m2.fit(df, init=warm_start_params(m))


    elif end_date.hour in [12, 13, 14, 15, 16, 17]:
        fila = 0      
        future['Lunes12_17'] = future['ds'].apply(est_Lunes12_17)                   
        fila = 0    
        future['Accup'] = future['ds'].apply(Regressor12_17_FutureAccUp)                
        fila = 0    
        future['t-168Mod'] = future['ds'].apply(Regressor12_17_LunesBack)                

        if start3 == False:
            # Load model
            with open('/home/jonathan/tesis/10mo_avance/models/serialized_model_Lunes12_17.json', 'r') as fin:                
                m = model_from_json(fin.read())  
            start3 = True
        else:
            df = future.iloc[:-1].copy()
            fila = 0
            df['y'] = df['ds'].apply(Add_y)   
            m2 = Prophet(changepoint_range=0.8,seasonality_prior_scale=0.3,weekly_seasonality=False,daily_seasonality=False,
                    seasonality_mode='additive',changepoint_prior_scale=0.1)            
            m2.add_seasonality(name='Lunes12_17', period=1/4, fourier_order=6, condition_name='Lunes12_17',prior_scale=0.015)                 
            m2.add_regressor('t-168Mod',mode='additive',prior_scale=0.5)                                    
            m2.add_regressor('Accup',mode='additive',prior_scale=0.5,standardize=False) 
            m = m2.fit(df, init=warm_start_params(m))

    elif end_date.hour in [18, 19, 20, 21, 22, 23]:    
        fila = 0    
        future['Accup'] = future['ds'].apply(Regressor18_23_FutureAccUp)                
        fila = 0    
        future['t-168Mod'] = future['ds'].apply(Regressor18_23_LunesBack)                

        if start4 == False:
            # Load model
            with open('/home/jonathan/tesis/10mo_avance/models/serialized_model_Lunes18_23.json', 'r') as fin:                
                m = model_from_json(fin.read())  
            start4 = True
        else:
            df = future.iloc[:-1].copy()
            fila = 0
            df['y'] = df['ds'].apply(Add_y)   
            m2 = Prophet(changepoint_range=0.8,seasonality_prior_scale=0.3,weekly_seasonality=False,daily_seasonality=False,
                    seasonality_mode='additive',changepoint_prior_scale=0.1)        
            m2.add_seasonality(name='Weekly', period=7, fourier_order=2,prior_scale=0.005)         
            m2.add_seasonality(name='Daily', period=1, fourier_order=4,prior_scale=0.005)         
            m2.add_regressor('t-168Mod',mode='additive',prior_scale=0.5)    
            m2.add_regressor('Accup',mode='additive',prior_scale=0.5)   
            m = m2.fit(df, init=warm_start_params(m))
            
    return future, m

## Usuario especifica la fecha y la hora

In [8]:
fila=0
start = False
start2 = False
start3 = False
start4 = False

In [14]:
# Definir fecha a predecir
end_date = datetime(2020, 7, 27, 6, 0, 0)
# fecha = end_date.date()  # Obtener la fecha
# fecha_str = fecha.strftime('%Y-%m-%d')  # Convertir la fecha a una cadena en formato "año-mes-día"
# print(fecha_str) 
# Crear dataframe "future"
future = pd.DataFrame({'ds': pd.date_range(start=datetime(2020, 6, 21), end=end_date, freq='H')})

future, m = start_model(future)
forecast = m.predict(future)
forecast.tail(1)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
/home/jonathan/anaconda3/lib/python3.9/site-packages/fbprophet/forecaster.py:891: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  components = components.append(new_comp)

Initial log joint probability = 1409.5
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
      99       1409.52   1.52484e-05       1.56306           1           1      116
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     158       1409.52   5.87623e-05        4.2674   2.394e-05       0.001      212  LS failed, Hessian reset
     199       1409.53    0.00112145       2.43071           1           1      263
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     299       1409.53   0.000112658       2.12957      0.2006           1      377
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     399       1409.54   5.08755e-05       2.01671      0.5159      0.5159      498
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     424       1409.54   1.34423e-06       1.72427      0.3748           1      536
Optimization terminated normally:
  Convergence detected: relative gradient magnitude is below tolerance

/home/jonathan/anaconda3/lib/python3.9/site-packages/fbprophet/forecaster.py:891: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  components = components.append(new_comp)
/home/jonathan/anaconda3/lib/python3.9/site-packages/fbprophet/forecaster.py:891: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  components = components.append(new_comp)

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,Accup,Accup_lower,Accup_upper,Daily,...,extra_regressors_additive,extra_regressors_additive_lower,extra_regressors_additive_upper,t-168Mod,t-168Mod_lower,t-168Mod_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
869,2020-07-27 05:00:00,304.641239,-19.085691,245.61639,304.641239,304.641239,19.786333,19.786333,19.786333,-88.65459,...,-74.551871,-74.551871,-74.551871,-94.338205,-94.338205,-94.338205,0.0,0.0,0.0,111.607752

## Agregamos regresores al df future
### Open - archivo json que contiene el modelo entrenado

In [10]:
future

                     ds  Lunes0_5  Accup   t-168Mod
0   2020-06-21 00:00:00     False  False    0.00000
1   2020-06-21 01:00:00     False  False    0.00000
2   2020-06-21 02:00:00     False  False    0.00000
3   2020-06-21 03:00:00     False   True    0.00000
4   2020-06-21 04:00:00     False  False    0.00000
..                  ...       ...    ...        ...
692 2020-07-19 20:00:00     False  False  228.49600
693 2020-07-19 21:00:00     False  False  274.53000
694 2020-07-19 22:00:00     False  False  246.10875
695 2020-07-19 23:00:00     False  False  103.43690
696 2020-07-20 00:00:00      True  False  103.48700

[697 rows x 4 columns]

In [11]:
history = m.history
history

,ds,y,Lunes0_5,t-168Mod,Accup,floor,t,y_scaled
0,2020-06-21 00:00:00,238.411,False,-1.059569,0.0,0,0.000000,0.239683
1,2020-06-21 01:00:00,154.667,False,-1.059569,0.0,0,0.001439,0.155492
2,2020-06-21 02:00:00,114.107,False,-1.059569,0.0,0,0.002878,0.114716
3,2020-06-21 03:00:00,64.097,False,-1.059569,1.0,0,0.004317,0.064439
4,2020-06-21 04:00:00,96.555,False,-1.059569,0.0,0,0.005755,0.097070
...,...,...,...,...,...,...,...,...
691,2020-07-19 19:00:00,371.450,False,0.516686,0.0,0,0.994245,0.373431
692,2020-07-19 20:00:00,332.345,False,-0.177367,0.0,0,0.995683,0.334117
693,2020-07-19 21:00:00,245.399,False,0.000366,0.0,0,0.997122,0.246708
694,2020-07-19 22:00:00,262.568,False,-0.109366,0.0,0,0.998561,0.263968
695,2020-07-19 23:00:00,136.376,False,-0.660209,0.0,0,1.000000,0.137103

# Nota: Se debe de simular la inyección de datos con las funciones que actualizan el el df future.
## Se debe de hacer una predicción, esa predicción aporta al df "timeseries_o_MOD", finalmente se calcula el número de entradas en la estación chamartín. 

## Se debe de hacer lo mismo con rolling forecasting pero ahora se calcula las entradas.